.border-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__text {
    display: block;
  }

  &__border-for-title {
    @media (min-width: 767px) {
      position: relative;
      left: -8px;
      right: -8px;
    }

    @media (min-width: 1120px) {
      position: relative;
      left: -16px;
      right: -16px;
    }
  }
}


.border-for-title {
  background: #41F6D7;
  border-radius: 0 10px 10px 0;
  width: 4px;
  height: 40px;
  margin-right: 12px;
}