.border-row {
  background: #41F6D7;
  width: 100%;
  height: 1px;

  @media (min-width: 1440px) {
    display: none;
  }
}

.border {
  background: #EAEAEA;
  border-radius: 1px;
  width: 2px;
  height: 32px;

  &__right {
    margin-right: 20px;
    margin-left: 4px;
  }
  &__left {
    display: none;

    @media (min-width:767px) {
      display: block;
      margin-right: 20px;
      margin-left: 4px;
    }
  }
}

