@import "variables";
@import "mixins";

.brands {
  display: none;
  flex-wrap: nowrap;
  margin-top: 8px;

  @media (min-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }


  &__logo {
    display: flex;
    background-color: white;
    height: 72px;
    min-width: 240px;
    align-items: center;
    justify-content: space-between;
    margin: 16px;

    @media (min-width:767px) {
        margin: 16px;
        min-width: 224px;
      }
  }

  &__logo_display_none {
    @media (min-width: 767px) {
      display: none;
    }
  }

  &__ellipse {
    margin-right: 16px;
  }

  &__img {
    box-sizing: border-box;
    margin-left: 16px;
  }

    &__logo_display_none:nth-child(8), &__logo_display_none:nth-child(7){
      @media (min-width:1440px) {
      display: flex;
    }
  }
}


.swiper-container {
  width: 240px;
  height: 130px;

  //@media (min-width: 1120px) {
  //  display: none;
  //}
  @media (min-width: 767px) {
      display: none;
    }
}
