.ellipse {
  background: #FF3E79 no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.ellipse_display_none {
  display: none;

  @media (min-width:767px) {
    display: block;
  }
}

.ellipse_icon_burger {
  background-image: url("../img/burger/burger.png");
}

.ellipse_icon_tel {
  background-image: url("../img/tel/tel.png");
}

.ellipse_icon_chat {
  background-image: url("../img/chat/chat.png");
}

.ellipse_icon_profile {
  background-image: url("../img/profile/profile.png");
}

.ellipse_icon_repair {
  background-image: url("../img/repair/repair.png");
}

.ellipse_icon_search {
  background-image: url("../img/search/search.png");
}

.ellipse_icon_close {
  background-image: url("../img/close/close.png");
}

.logo__row {
  width: 96px;
  align-items: center;
  margin-right: 16px;
}