.equipments {
  display: none;

  @media (min-width:767px) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }

  &__item {
    display: flex;
    background-color: white;
    height: 160px;
    min-width: 240px;
    justify-content: space-between;
    margin: 16px 24px 16px 16px;

    @media (min-width:767px) {
      min-width: 224px;
      margin-left: 0;
    }
  }

  &__item_display_none {
    display: none;
  }

  &__item_display_none:nth-child(4) {
    display: flex;
  }

  &__title {
    margin-left: 16px;
    margin-top: 16px;
  }

  &__ellipse {
    margin-right: 16px;
    margin-top: 104px;
  }
}

.equipments:first-child {
  margin-left: 16px;
}


