.equipments {
  display: none;

  @media (min-width:767px) {
      display: flex;
      flex-wrap: wrap;
    }

  &__item {
    display: flex;
    background-color: white;
    height: 160px;
    min-width: 240px;
    justify-content: space-between;
    margin: 16px;
    @media (min-width:767px) {
      min-width: 224px;
    }
  }

  &__item_display_none {
    display: none;
  }

  &__item_display_none:nth-child(4) {
    display: flex;
  }

  &__title {
    margin-left: 16px;
    margin-top: 16px;
  }

  &__ellipse {
    margin-right: 16px;
    margin-top: 104px;
  }
}

.swiper-pagination-2 {
  /*position: absolute;*/
  text-align: center;
  /*transition: 300ms opacity;*/

  /*z-index: 10;*/
}

.swiper-container-2 {
  @media (min-width: 767px) {
    display: none;
  }
}