@import "variables";
@import "mixins";

.header {
  background-color: white;

  &__container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__row {
    width: 100%;
    background-color: white;
    padding: 19px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__block-left {
    display: flex;
    width: 50%;
    //justify-content: space-between;
    align-items: center;

    @media (min-width:767px) {
        justify-content: flex-start;
    }
  }

  &__block-right {
    display: flex;
    width: 50%;

    justify-content: flex-end;

  }

  &__ellipse {
    margin-right: 26px;
  }

  @media (min-width:1440px) {
      display: none;
  }
}


.ellipse_display_none {
  display: none;

  @media (min-width:767px) {
      display: block;
  }
}


.border {
  background: #EAEAEA;
  border-radius: 1px;
  width: 2px;
  height: 32px;
}

.border__left {
  margin: 0 10px;
  visibility: hidden;

  @media (min-width:767px) {
      display: block;
      margin: 0 20px;
  }
}

.logo__row {
  margin-right: auto;
  margin-left: 16px;
  align-items: center;
}

 .ellipse {
  background: #FF3E79 no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

 .ellipse_icon_burger {
  background-image: url("../img/burger/burger.png");
}

 .ellipse_icon_tel {
  background-image: url("../img/tel/tel.png");
}

 .ellipse_icon_chat {
  background-image: url("../img/chat/chat.png");
}

 .ellipse_icon_profile {
  background-image: url("../img/profile/profile.png");
}

.ellipse_icon_repair {
  background-image: url("../img/repair/repair.png");
}

.ellipse_icon_search {
  background-image: url("../img/search/search.png");
}

.ellipse_icon_close {
  background-image: url("../img/close/close.png");
}

