@import "variables";
@import "mixins";

.header {
  background-color: white;

  &__container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__row {
    width: 100%;
    background-color: white;
    padding: 19px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__block-left {
    display: flex;
    width: 50%;
    //justify-content: space-between;
    align-items: center;

    @media (min-width:767px) {
        justify-content: flex-start;
    }
  }

  &__block-right {
    display: flex;
    width: 50%;

    justify-content: flex-end;

  }

  &__ellipse {
    margin-right: 16px;
  }

  @media (min-width:1440px) {
      display: none;
  }
}




