@import "variables";
@import "mixins";

.main {
  background-color: #F8F8F8;

  &__title-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: none;
    justify-content: flex-end;
    width: 50%;

    p {
      margin-right: 5px;
    }

    @media (min-width: 1440px) {
        display: flex;
    }
  }

  &__icons-item {
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
  }

  &__row-services {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__service {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 8px 16px;
  }

  &__service_active  {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px 14px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 767px) {
      flex-direction: row;
    }

  }

  &__text {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    @media (min-width:767px) {
        width: 50%;
      }
    }

  &__img {
    margin-left: 16px;

    @media (min-width: 767px) {
        width: 50%;
      }
    }

  img {
    width: 100%;
  }

  &__text2 {
    display: none;

    @media (min-width: 767px) {
      display: block;
    }
  }

  &__text3 {
    display: none;
    @media (min-width: 1440px) {
      display: block;
    }
  }

  &__text1 {
    @media (min-width: 1440px) {
      display: none;
    }

    @media (min-width: 767px) {
      display: none;
    }
  }
  }



