@import "variables";
@import "mixins";

.section-title {
  display: flex;
  height: 80px;
  /*background-color: white;*/
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  align-items: center;

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: darkgray;
    padding-left: 16px;
    padding-right: 16px;
  }
}