.see-close {

  &__seeAll {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
    }

  &__seeAll2 {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
    }

  &__img {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    color: #7E7E82;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }

  &__close {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
  }

  &__close2 {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
  }

  &__img_up {
    transform: rotate(180deg);
  }

  &__seeAll_display_none {
    display: none;
  }

  &__close_display_none {
    display: none;
  }

  &__seeAll2_display_none {
    display: none;
  }

  &__close2_display_none {
    display: none;
  }
}