.see-close {
  margin-bottom: 32px;

  img {
    width: 1em;
    height: 1em;
    margin-right: 16px;
  }

  &__margin {
    margin-left: 16px;
  }

  &__img {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    //font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    color: #1B1C21;

  }

  &__seeAll {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
    }

  &__seeAll2 {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
    }



  &__close {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
  }

  &__close2 {
    display: none;

    @media (min-width:767px) {
        display: flex;
      }
  }

  &__img_up {
    transform: rotate(180deg);
  }

  &__seeAll_display_none {
    display: none;
  }

  &__close_display_none {
    display: none;
  }

  &__seeAll2_display_none {
    display: none;
  }

  &__close2_display_none {
    display: none;
  }

  &__seeAllReed_display_none {
    display: none;
  }

  &__closeReed_display_none {
    display: none;
  }

}