@import "header";
@import "main";
@import "section-title";
@import "brands";
@import "footer";
@import "ellipse-arrow";
@import "see-close";
@import "equipments";
@import 'prices';
@import 'menu';
@import 'border-title';
@import 'buttons';
@import 'connection';

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'TT Lakes Regular';
  color: black;
  margin: 0;
  min-height: 100%;
  padding-bottom: 10px;
  background-color: #F8F8F8;
}


@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cps {
  display: flex;

  @media (min-width: 360px) {
    position: relative;
  }
}

.main-of-project {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main-of-project_none {
  display: none;
}

.main-of-project_opacity {
  opacity: 4%;
}


.menu-wrapper {
  @media (min-width: 360px) and (max-width: 1440px) {
    position: static;
    z-index: 2;
  }
}

.connection-wrapper {
  @media (min-width: 360px) {
    //position: absolute;
    z-index: 3;
    justify-content: flex-end;
  }

  &__connect {
    display: none;
  }

  &__call {
    display: none;
  }

  &__call_block {
    display: block;
  }

  &__connect_block {
    display: block;
  }
}

.container {
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: 767px) {
    min-width: 767px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: 1120px) {
    min-width: 1120px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.border-row {
  background: #41F6D7;
  width: 100%;
  height: 1px;

  @media (min-width: 1440px) {
    display: none;
  }
}

.border-for-title {
  background: #41F6D7;
  border-radius: 0 10px 10px 0;
  width: 4px;
  height: 40px;
  margin-right: 12px;
}


.uncover {
  display: flex;

  &__img {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    color: #7E7E82;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }
}

a {
  color: #1B1C21;
  text-decoration: none;
}

a :hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

textarea {
  min-width: 272px;
  margin: 8px 16px 0 16px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  color: #B5B6BC;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;

  @media (min-width: 767px) {
    width: 375px;
  }
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}